body{
    background-color: #f7f7f7;
    color: #898fa1;
    font-size: 15px;
    line-height: 1.8;
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo{
    text-align: center;
}

footer{
    background-color: #292b2c;
    font-size: 14px;
    color: #f7f7f7;
}
.boton-whatsapp{
    position: fixed;
    right: 54px;
    bottom: 45px;
    width: 54px;
    height: 54px;
    z-index: 100;
}

@media screen and (max-width:600px){
    .boton-whatsapp{
        display: none;
    }
}
.registro{
    text-align: center;
}

